<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.catapush.example.app">

    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:name="com.catapush.example.app.MyApplication"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:screenOrientation="userPortrait"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name="com.catapush.library.gcm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <service android:name="com.catapush.library.MessagingService" android:label="YOUR_MESSAGE_CENTER_LABEL"/>

        <receiver
                android:name="com.catapush.example.app.communications.MyReceiver"
                android:permission="${applicationId}.C2D_MESSAGE">
            <intent-filter>
                <action android:name="com.catapush.library.action.MESSAGE_RECEIVED"/>
                <action android:name="com.catapush.library.action.MESSAGE_OPENED"/>
                <action android:name="com.catapush.library.action.INVALID_LIBRARY"/>
                <action android:name="com.catapush.library.action.CONNECTING"/>
                <action android:name="com.catapush.library.action.CONNECTED"/>
                <action android:name="com.catapush.library.action.DISCONNECTED"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
